@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');
body {
    margin: 0;
    background-color: #222222;
    color: white;
}

html {
    scroll-behavior: smooth;
  }

.nav ul li {
    display: inline;
    list-style: none;
    margin-right: 50px;
}

.nav ul li a {
    color: white;
    font-size: 20px;
    text-decoration: none;
    cursor: pointer;
    background-color: transparent;
    outline: none;
    border: none;
    color: white;
    font-size: 20px;
    border-bottom: #0344f8 solid 4px;
    cursor: pointer;
}

.navmobile {
    color: white;
    font-size: 20px;
    text-decoration: none;
    cursor: pointer;
    background-color: transparent;
    outline: none;
    border: none;
    border-bottom: #0344f8 solid 4px;
    display: inline;
    background-color: #2D2D2D;
}

.nav ul li a:hover {
    border-bottom: #2a62ff solid 6px;
}

.nav ul {
    padding: 0;
}

#logo {
    margin-right: 75px;
    padding: 16px;
    background-color: #0344f8;
    font-size: 30px;
    height: 30px;
    width: 30px;
}

.nav ul li #img {
    position: absolute;
    right: 30px;
    top: 0;
    background-color: #0344f8;
    padding: 5px;
    border-radius: 50%;
    cursor: pointer;
}

.menu {
    position: absolute;
    font-size: 40px;
    right: 20px;
    top: 15px;
    display: none;
}

#checkbox {
    display: block;
}

.barra-lateral {
    background-image: linear-gradient(#2d2d2d, #222222);
    width: 62px;
    height: 80vh;
    text-align: center;
    position: absolute;
}

.barra-lateral a {
    color: white;
    font-size: 50px;
    cursor: pointer;
}

#linkedin {
    position: absolute;
    margin-top: 60vh;
    left: 5px;
}

#git {
    position: absolute;
    margin-top: 50vh;
    left: 5px;
}

#titulo{
    opacity: 0.7;
    font-size: 2.5em;
    font-family: 'Finlandica', sans-serif;
    text-align: -webkit-center;
    overflow: hidden;
    border-right: .15em solid #0344f8;
    white-space: nowrap;
    animation: typing 1s steps(20, end) forwards, blinking .8s infinite;
    width: 0;
}


@keyframes pulsate {
    0% { 
        opacity: 0.5;
    }
    50% { 
        opacity: 1.0;
    }
    100% { 
        opacity: 0.5;
    }
}


.container{
    display: inline-block;
  }
  
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  @keyframes blinking {
    from { border-color: transparent }
    to { border-color: #0344f8; }
  }

.espaco {
    width: 97vw;
    height: 20vh;
}



.card1 {
    width: 209px;
    height: auto;
    background-color: #2D2D2D;
    cursor: pointer;
    padding: 5px;
}

.card1:hover{
    box-shadow: 7px 5px 56px -14px #0344f8;
}

.card1:active{
    transform: scale(0.97);
 box-shadow: 7px 5px 56px -10px #0344f8;
}

.card2 {
    width: 209px;
    height: 56px;
    background-color: #2D2D2D;
    cursor: pointer;
    padding: 5px;
    height: auto;
}


.card2:hover{
    box-shadow: 7px 5px 56px -14px #0344f8;
}

.card2:active{
    transform: scale(0.97);
 box-shadow: 7px 5px 56px -10px #0344f8;
}

.cards {
    width: 100%;
    height: 56px;
    display: inline-flex;
}

.card1 a,
.card2 a {
    font-size: 20px;
    text-decoration: none;
    color: white;
}

.icon{
    font-size: 40px;

}

.boas-vindas {
    position: relative;
    left: 8vw;
    top: 20vh;
    font-size: 20px;
    max-width: 70vw;
    text-align: justify;
    border: #2d2d2d solid 3px;
    padding: 20px;
}

.projeto1 h4 {
    color: #444444;
    font-size: 20px;
}

.projeto1 img {
    height: 100%;
    width: 100%;
}

.imagens {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    justify-items: center;
    margin: 40px;
}

#img1 {
    grid-area: 1 / 1 / 2 / 2;
}

#img2 {
    grid-area: 1 / 2 / 2 / 3;
}

#img3 {
    grid-area: 2 / 1 / 3 / 3;
}

#img4 {
    grid-area: 3 / 1 / 4 / 2;
}

#img5 {
    grid-area: 3 / 2 / 4 / 3;
}

.projeto2 h1 {
    position: relative;
    margin-left: 13vw;
    top: 5vh;
}

.projeto2 h4 {
    position: relative;
    margin-left: 13vw;
    top: 10vh;
    color: #444444;
    font-size: 20px;
    width: 80%;
}

.projeto2 img {
    position: relative;
    height: 93%;
    width: 93%;
    margin: 40px;
}

.imagens2 {
    display: grid;
    grid-template-columns: repeat(1fr);
    grid-template-rows: repeat(1, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    justify-items: center;
    margin: 40px;
}

.projeto3 img {
    position: relative;
    height: 93%;
    width: 93%;
    margin: 40px;
}


h1 {
    position: relative;
    margin-left: 7vw;
}

h4 {
    position: relative;
    margin-left: 8vw;
    color: #444444;
    font-size: 20px;
    width: 80%;
}

.grupo1 {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    justify-items: center;
}

#img1p3 {
    grid-area: 1 / 1 / 2 / 2;
    height: 90vh;
    width: 90vw;
    margin-top: 50px;
}

#img2p3 {
    grid-area: 2 / 1 / 3 / 2;
    height: 90vh;
    width: 90vw;
    margin-top: 50px;
}

.grupo2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    justify-items: center;
}

#img3p3 {
    grid-area: 1 / 1 / 2 / 2;
    height: 60vh;
    width: 40vw;
    margin-top: 50px;
}

#img4p3 {
    grid-area: 1 / 2 / 2 / 3;
    height: 60vh;
    width: 40vw;
    margin-top: 50px;
}

.textcenter {
    position: relative;
    text-align: -webkit-center;
    font-size: 40px;
    visibility: hidden;
}

.footer {
    display: inline-grid;
    width: 100%;
    height: auto;
    bottom: 0;
    background-color: #2d2d2d;
    justify-items: center;
}

#imgp {
    border-radius: 50%;
    margin-top: 40px;
}

.contato {
    color: white;
    cursor: pointer;
    font-size: 25px
}

#email {
    height: 30px;
    width: 32vw;
    font-size: 20px;
    outline: none;
    border: 3px solid #ffffff;
    background-color: #2d2d2d;
    border-radius: 5px;
    color: white;
}

#email::placeholder{
    color: white;
    padding-left: 30px;
}

#submit{
    width: 100px;
    height: 39px;
    border: none;
    color: white;
    background-color: #2d2d2d;
    border: 3px solid #ffffff;
    border-radius: 5px;
    
}

#submit:hover{
    background-color: #0344f8;
    box-shadow: 7px 5px 56px -14px #0344f8;
}

form{
    display: grid;
    width: auto;
    height: auto;
    justify-items: center;  
}

.contact {
    position: relative;
    height: auto;
    width: 300px;
    margin-top: 20px;
    left: 43vw;
    font-size: 20px;
}

.topnav {
    display: none;
}

.inicio {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    visibility: hidden;
}

.index {
    width: 50vw;
    height: 350px;
    display: grid;
    justify-content: center;
}

#svg {
    width: 48vw;
    height: 350px;
}


.cards {
    display: inline-flex;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 100px;
    grid-row-gap: 0px;
    align-items: center;
    text-align: center;
    justify-content: center;
    width: auto;
    height: auto;
    padding: 20px;
}



.tecnologias {
    width: -webkit-fill-available;
    height: 20vh;
    display: inline-flex;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 10px;
    grid-row-gap: 0px;
    align-items: center;
    text-align: center;
    justify-content: center;
    visibility: hidden;

}

.tec {
    width: 200px;
    height: 100px;
    background-color: #2d2d2d;
}

.tec:hover{
    box-shadow: 7px 5px 56px -14px #0344f8;
}

.tec:active{
    transform: scale(0.97);
 box-shadow: 7px 5px 56px -10px #0344f8;
}



.icones {
    font-size: 60px;
}

.descricao {
    margin-left: 13vw;
    font-size: 20px;
    width: 80%;
    text-align: center;
    visibility: hidden;
}

.link {
    display: grid;
    text-align: -webkit-center;
    color: white;
    font-size: 15px
}


.carousel .item img {
    width: 100%;
    height: 100%;
}


.slider-container>*{
    text-align: center;
}

.slider-nav::before {
    padding: 0;
}

.swiffy-slider{
    width: 99% !important;
    visibility: hidden;
}





@media (max-width: 1000px) {
    .navmob {
        display: none;
    }
    .barra-lateral {
        display: none;
    }
    .menu {
        display: block;
    }
    .topnav {
        overflow: hidden;
        background-color: #333;
        position: relative;
        display: block;
    }
    .topnav #myLinks {
        display: none;
    }
    .topnav a {
        color: white;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 27px;
        display: block;
    }
    .topnav a.icon {
        display: block;
        position: absolute;
        right: 0;
        top: 0;
    }
    .topnav a:hover {
        color: rgb(255, 255, 255);
    }
    .active {
        width: 100vw;
        background-color: #0344f8;
        color: white;
    }
    .boas-vindas {
        top: 65px;
    }
    #img3p3 {
        grid-area: 1 / 1 / 2 / 2;
        height: 40vh;
        width: 40vw;
        margin-top: 50px;
    }
    #img4p3 {
        grid-area: 1 / 2 / 2 / 3;
        height: 40vh;
        width: 40vw;
        margin-top: 50px;
    }

    .inicio {
        display: flex;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, 1fr);
        grid-column-gap: 10px;
        grid-row-gap: 10px;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .tecnologias {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
        grid-column-gap: 10px;
        grid-row-gap: 10px;
        width: 95%;
        height: auto;
        padding: 20px;
    }

    .tec {
        width: 100%;
       
    }

    .projeto3 img {
        position: relative;
        height: 100%;
        width: 100%;
        margin: 40px;
    }

   

    .cards {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, 1fr);
        grid-column-gap: 10px;
        grid-row-gap: 10px;
        width: auto;
        height: auto;
        padding: 20px;
    }

    .card1 {
        width: 100%;
        height: 80px;
        background-color: #2d2d2d;
        cursor: pointer;
        
    }
    
    .card2 {
        width: 100%;
        height: 80px;
        background-color: #2d2d2d;
        cursor: pointer;
    }

    .espaco {
        width: 97vw;
        height: 3vh;
    }

   

    .index {
        width: 90vw;
        height: auto;
        
    }

    #svg {
        width: 80vw;
        height: 350px;
    }

    .bx-menu-alt-right{
        font-size: 35px;
    }

    #email {
        height: 30px;
        width: 60vw;
      
    }
    .imgmedia{
        display: none;
    }

    .textcenter {
       
        font-size: 30px;
    }

    #titulo{
        font-size: 30px;

    }
}
